@import url("https://cdn.syncfusion.com/ej2/material.css");
.rightBar{
position: fixed;
width: 328px;
height: 1024px;
left:1215px;
top: 0px;

background: rgba(117, 117, 117, 0.3);
mix-blend-mode: hard-light;

}
.inner-circle{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 75px;
    background: rgba(117, 117, 117, 0.3);
}


